<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="jumbo-content">
                <h1 class="display-3">{{ site.name }}</h1>
                <p class="lead">Welcome to my little corner of the internet.</p>
            <!-- {% if page.title == "Home" %}

            

            {% elsif page.title == "About" %}

            <h1 class="display-4">Hello There!</a></h1>
            <p class="lead">If you didn't notice already, my name is Michael Caponi.</p>

            {% elsif page.title == "Contact" %}

            <h1 class="display-4">Say Hello!</a></h1>
            <p class="lead">Shoot me a message and let's talk.</p>

            {% else %}

            <h1 class="display-4">Test</a></h1>
            <p class="lead">{{ site.description }}</p>

            {% endif %} -->
        </div>

        <div class="site-nav">
            <ul class="nav nav-tabs nav-justified">
                {% if page.title == "Home" or page.layout == "post" %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/" >Blog</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/" >Blog</a>
                </li>
                {% endif %}

                {% if page.title == "About" %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/about" >About</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about" >About</a>
                </li>
                {% endif %}

                {% if page.title == "Contact" %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/contact" >Contact</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/contact" >Contact</a>
                </li>
                {% endif %}
            </ul>
        </div>

</header>