.profile {
  margin-bottom: $space-4;
}

.profile-pic img {
  height: auto;
  width: 100%;
}

.emphasis {
  font-size: 3.25rem;
  line-height: 1.75;
  font-family: "Lato";
}

.skills {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  flex-grow: 1;
  padding: 1rem 2rem;
  margin: 10px;
  text-align: center;
}

// Medium devices (tablets, less than 1200px)
@include media-breakpoint-down(lg) {
  .profile {
    margin-bottom: $space-3;
  }

  .emphasis {
    font-size: 2.75rem;
    line-height: 1.7;
  }
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
  .profile {
    margin-bottom: $space-2;
  }

  .emphasis {
    font-size: 2rem;
  }
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .profile {
    margin-bottom: $space-1;
  }

  .emphasis {
    font-size: 1.4rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  .profile-pic img {
    height: auto;
    width: 80%;
    margin-bottom: $space-1;
  }
}
