@charset "UTF-8";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

img {
  max-width: 100%;
}

em img {
  max-width: 100%;
  margin-left: 0;
}
