// .site {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: column;
//         -ms-flex-direction: column;
//             flex-direction: column;
//     min-height: 100vh;
//   }

// .site-wrap {
//     -webkit-box-flex: 1;
//     -webkit-flex: 1;
//         -ms-flex: 1 0 auto;
//             flex: 1 0 auto;
// }

.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.site-wrap {
  flex-grow: 1;
  flex-shrink: 0;
}

footer {
  background-color: $lighter-gray;
  border-top: $footer-border-top;
  color: $dark-navy;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  margin-top: $space-4;
  text-align: center;
  flex-shrink: 0;
}

small,
.small {
  font-size: 0.75rem;
}
