#particles-js {
  position:absolute;
  width: 100%;
  height: 100%;
}

.jumbotron {
  padding: 0 0 0 0;
  position: relative;
  background-color:#151D24;
}

.jumbo-content {
  text-align: center;
  padding-top: $space-4;
  padding-bottom: $space-3;
  color: #d5eae5;
}

.site-nav {
  position: relative;
  margin-bottom: $space-4;
  z-index: 1;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: #fff;
  border: none;

  &:hover {
    color: #acccc5;
  }

}

header {
  flex-shrink: 0;
}
