.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $light-gray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    margin-left: $space-1;
    padding: $space-1;
  }

  blockquote footer {
    background-color: #fff;
    border-color: transparent;
    color: #7a7a7a;
    font-size: 0.85rem;
    font-style: normal;
    text-align: left;
    padding: 0;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
